<html>

    <head>
    
        <link rel="stylesheet" type="text/css" href="/stylesheets/loggedin.css">
        <script src = "/Jquery.js"></script>
        <script>
                var currpage = {{currpage}}
                var today = new Date().toISOString().split('T')[0];
                $(document).ready(()=>{
                    init()
                    $("button.delete").click(function(){
                        console.log("pasok")
                        let flightid = $(this).attr("data-id")
                        console.log(flightid)
                        $("#del").val(flightid)
                        $("#hiddendel").submit()
                    })
                    
                    $("#accountdetailsbtn").click(function(){
                        $("#logContent").css("display", "block");
                    })
                    
                    $("#myflightbtn").click(function(){
                        $("#searchFlight").css("display","none");
                        $("#selectFlight").css("display","none");
                        $("#personalDetails").css("display","none");
                        $("#Payment").css("display","none");
                        $("#Ticket").css("display","none");
                        $("#Myflights").css("display","flex");
                    })
                    
                    $("#exitbtn").click(function(){
                        $("#logContent").css("display", "none");
                    
                    })
                    
                    
                    $("input.select:radio").change(function(){
                        let flightid = $(this).attr("data-id")
                        console.log(flightid)
                        $("#bookinput").val(flightid)
                    })
                    
                    $("#bookflightbtn").click(function(){
                        console.log($("#bookinput").val())
                        $("#bookform").submit()
                    })
                    
                })    
                
                function init(){
                    document.getElementById("depdate").setAttribute('min', today);
                    if(currpage == "1"){
                        $("#searchFlight").css("display","flex");
                        $("#selectFlight").css("display","none");
                        $("#personalDetails").css("display","none");
                        $("#Payment").css("display","none");
                        $("#Ticket").css("display","none");
                    }
                    else if(currpage == '2'){
                        $("#searchFlight").css("display","none");
                        $("#selectFlight").css("display","flex");
                        $("#personalDetails").css("display","none");
                        $("#Payment").css("display","none");
                        $("#Ticket").css("display","none");
                    }
                    else if(currpage == '3'){
                        $("#searchFlight").css("display","none");
                        $("#selectFlight").css("display","none");
                        $("#personalDetails").css("display","flex");
                        $("#Payment").css("display","none");
                        $("#Ticket").css("display","none");
                    }
                    else if(currpage == '4'){
                        $("#searchFlight").css("display","none");
                        $("#selectFlight").css("display","none");
                        $("#personalDetails").css("display","none");
                        $("#Payment").css("display","flex");
                        $("#Ticket").css("display","none");
                    }
                    else if(currpage == '5'){
                        $("#searchFlight").css("display","none");
                        $("#selectFlight").css("display","none");
                        $("#personalDetails").css("display","none");
                        $("#Payment").css("display","none");
                        $("#Ticket").css("display","flex");
                    }
                }
        </script>
    </head>
    
    <body>
        <form action = 'deletemyflight' method = "post" id = 'hiddendel'>
            <input type = 'text' name = 'kek' id = 'del'>
        </form>
        <form action = 'bookflight' method = "post" id = 'bookform'>
            <input type = 'text' name = 'flightid' id = 'bookinput'>
        </form>
        <div id="topContainer">
        
            <div id="logo"></div>
            <h1>Maharlika Airlines</h1>
        
        </div>
        
        <div id="logContainer">
        
            <h3>Hello {{username}}!</h3>
            <div id="myflightbtn">My Flights</div>
            <div id="accountdetailsbtn">Account Details</div>
            
        </div>
        
        <div id="logContent">
        
            <div id="account">
                
                Email : {{email}}
                <br>
                Username : {{username}}
                <br>
                <br>
                <input type="button" class="submit" value="EXIT" style="width: 100%;" id = 'exitbtn'><br>
                
            </div>
        
        </div>
        
        
        <div id="botContainer">
        
            <div id="searchFlight">
                <div class="basta"><div class="circle">1</div> Search Flights</div>
                <div class="basta"><div class="circleUnchosen">2</div> Select Flights</div>
                <div class="basta"><div class="circleUnchosen">3</div> Edit Details</div>
                <div class="basta"><div class="circleUnchosen">4</div> Payment</div>
                
                <div id="content">
                
                    <form method="post" action="search">
                
                        Flying From: <input type="text" list="local" class="input" name = 'FlyFrom'>
                        <datalist id="local">
                            <option value="Manila">
                            <option value="Cebu">
                            <option value="Davao">
                            <option value="Kalibo">
                            <option value="Iloilo">
                            <option value="Puerto Prinsesa">
                            <option value="Laguindingan">
                            <option value="Bacolod">
                            <option value="Tacloban">
                            <option value="Zamboanga">
                        </datalist><br><br>
                        Flying To: <input type="text" list="local" class="input" name = 'FlyTo'>
                        <datalist id="local">
                            <option value="Manila">
                            <option value="Cebu">
                            <option value="Davao">
                            <option value="Kalibo">
                            <option value="Iloilo">
                            <option value="Puerto Prinsesa">
                            <option value="Laguindingan">
                            <option value="Bacolod">
                            <option value="Tacloban">
                            <option value="Zamboanga">
                        </datalist><br><br>
                        Departing On: <input type="date" class="input" min="2018-8-23" name = 'Date' id = 'depdate'> <br><br>
                        <input type="submit" value="Find Flights" style="width: 100%;" class="submit">
                    
                    
                    </form>
                
                </div>
                
            </div>
            
            <div id="selectFlight">
                <div class="basta"><div class="circle">1</div> Search Flights</div>
                <div class="basta"><div class="circle">2</div> Select Flights</div>
                <div class="basta"><div class="circleUnchosen">3</div> Edit Details</div>
                <div class="basta"><div class="circleUnchosen">4</div> Payment</div>
                
                <form method="post" action="/select" style="align-items: center; display: flex; flex-direction: column;">
                <div id="flightcontent">
                
                    
                    {{#each results}}
                        <div class="tickets">
                            <div class="deets">
                                {{flyFrom}}<br>
                                <h7>to</h7>
                                {{flyTo}}
                            </div>
                            <div class="deets">
                                Flight Time<br>
                                {{departuretime}}
                            </div>
                            <div class="deets">
                                Price<br>
                                {{price}}<br>
                                with tax
                            </div>
                            <div class="deets">
                                <input type="radio" name="flyt" class = 'select' data-id = "{{_id}}">
                            </div>
                        </div>
                    {{/each}}
                
                </div>
                <input type="button" value="Book Flight" style="width: 50%; height: 50px; padding: 10px;" class="submit" id='bookflightbtn'>
                </form>
                
            </div>
            
            <div id="personalDetails">
                <div class="basta"><div class="circle">1</div> Search Flights</div>
                <div class="basta"><div class="circle">2</div> Select Flights</div>
                <div class="basta"><div class="circle">3</div> Edit Details</div>
                <div class="basta"><div class="circleUnchosen">4</div> Payment</div>
                
                <div id="content">
                
                    <form method="post" action="paymentinfo">
                        
                        Full Name: <input type="text" class="input" name = 'fn'><br><br>
                        Nationality: <input type="text" class="input" name = 'nat'><br><br>
                        Birthdate: <input type="date" class="input" name = 'bday'> <br><br>
                        Email Address: <input type="text" class="input" name = 'email'><br><br>
                        Passport Number: <input type="text" class="input" name = 'pnum'><br><br>
                        Date of Expiry: <input type="date" class="input" max="2019-8-23" name = 'expd'> <br><br>
                        <input type="submit" value="Submit Information" style="width: 100%;" class="submit">
                    
                    </form>
                
                </div>
                
            </div>
            
            <div id="Payment">
                <div class="basta"><div class="circle">1</div> Search Flights</div>
                <div class="basta"><div class="circle">2</div> Select Flights</div>
                <div class="basta"><div class="circle">3</div> Edit Details</div>
                <div class="basta"><div class="circle">4</div> Payment</div>
                
                <div id="content">
                
                    <form method="get" action="booked">
                        
                        Credit Card Number: <input type="text" class="input"><br><br>
                        Security Number/CVV: <input type="text" class="input"><br><br>
                        Date of Expiry: <input type="date" class="input"> <br><br>
                        <input type="submit" value="Finalize Booking" style="width: 100%;" class="submit">
                    
                    </form>
                
                </div>
                
            </div>
            
            <div id="Myflights">
                <h2>My Flights</h2>
                <div id="flightcontent">
                {{#each myflights}}
                    <div class="tickets">
                        <div class="deets">
                            {{flyFrom}}<br>
                                <h7>to</h7>
                            {{flyTo}}
                        </div>
                        <div class="deets">
                            Flight Date/Time<br>
                            {{month}}-{{day}}-{{year}}<br>
                            {{departuretime}}
                        </div>
                        <div class="deets">
                            Price<br>
                            {{price}}<br>
                            with tax
                        </div>
                        <div class="deets">
                            <button class="delete" data-id="{{_id}}">Delete</button>
                        </div>
                    </div>
                {{/each}}
                    
                </div>    
            </div>
            
            <div id="Ticket">
                <div id="content">
                
                    <form method="get" action="home">
                        
                        Your E-Ticket will be sent to : {{email}}<br><br>
                        <input type="submit" value="Book Again" style="width: 100%;" class="submit">
                    
                    </form>
                
                </div>
                
            </div>
        
        </div>
        
    </body>

</html>